[submodule "dumpotest"]
	path = dumpotest
	url = git@iis-git.ee.ethz.ch:wiesep/dumpotest.git
[submodule "dumpocmsislibs"]
	path = dumpocmsislibs
	url = git@iis-git.ee.ethz.ch:wiesep/dumpocmsislibs.git
