[submodule "dumpotest"]
	path = dumpotest
	url = git@iis-git.ee.ethz.ch:dumpo/dumpotest.git
[submodule "dumpobasiclibs"]
	path = dumpobasiclibs
	url = git@iis-git.ee.ethz.ch:dumpo/dumpobasiclibs.git
[submodule "dumpocmsislibs"]
	path = dumpocmsislibs
	url = git@iis-git.ee.ethz.ch:dumpo/dumpocmsislibs.git
