[submodule "DumpOTest"]
	path = DumpOTest
	url = https://iis-git.ee.ethz.ch/scheremo/dumpotest.git
[submodule "dumpocmsislibs"]
	path = dumpocmsislibs
	url = https://iis-git.ee.ethz.ch/scheremo/dumpocmsislibs
[submodule "dumpotest"]
	path = dumpotest
	url = https://iis-git.ee.ethz.ch/scheremo/dumpotest
